/*RESPONSIVENESS*/

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

[class*="col-mobile"] {
    width: 80%;
}

[class*="scroll"] {
    overflow-y: scroll;
}


@media only screen and (min-width: 600px) {

    /* For tablets: */
    .text-s-1 {
        font-size: 25px;
    }

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 900px) {

    /* For desktop: */
    .noscroll {
        overflow-y: hidden;
    }

    .text-1 {
        font-size: 30px;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/*PLACEHOLDER*/
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

/*BASIC RESET AND BODY*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Inter';
    transform: skewY(-2deg);
}

/*HEADER*/
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    padding: 0.5rem;
}

.image-div {
    margin: 20px;
    min-width: 90px;
    transform: skewY(2deg);
}

.header-div {
    transform: skewY(2deg);
}

img {
    width: 100%;
}

h1 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/*MAIN*/
.container {
    background-image: linear-gradient(to bottom right, rgba(251, 238, 151), rgba(173, 237, 213));
    width: 100%;
    display: flex;
}

.container-div {
    width: 100%;
    height: 100%;
}

.box {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-div {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.box-div:hover {
    transform: translate(15px, 15px);
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.1);
}

/*FORM AND INPUTS*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    margin: 1rem;
}

input {
    width: 90%;
    background-color: rgba(0, 0, 0, 0);
    padding: 2rem 2rem;
    margin: 1rem;
    border: 1px dashed black;
    border-radius: 25px;
    box-sizing: border-box;
    transition: 0.5s;
    outline: none;
}

input:focus {
    background-color: white;
}

input[type=submit] {
    width: 60%;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    padding: 1em 1em;
    margin: 1em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px dashed black;
    transition: 0.5s;
}

input[type=submit]:hover {
    background-color: rgba(251, 238, 151);
}

/*FOOTER AND LINKS*/
footer {
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-div {
    width: 100%;
}

.footerclass {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    transform: skewY(2deg);
}

.footerclass h2 {
    margin-bottom: 0.5em;
    text-transform: uppercase;
    color: black;
}

.footerclass :where(a, p) {
    color: rgba(0, 0, 0, 0.4);
}