/*RESPONSIVENESS*/

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .text-s-1 {
        font-size: 25px;
    }

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .text-1 {
        font-size: 30px;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/*BASIC RESET AND BODY*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
}

/*HEADER*/
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    padding: 0.5rem;
    transform: skewY(-2deg);
}

.image-div {
    margin: 20px;
    min-width: 90px;
}

.header-div {
    display: flex;
}

img {
    width: 100%;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

/*MAIN*/
.container {
    background-image: linear-gradient(to right, #bbd0e7, #012348);
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    transform: skewY(-2deg);
}

.container-div {
    width: 100%;
}

.box {
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-div {
    border-radius: 25px;
    padding: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.box-div:hover {
    transform: translate(10px, 10px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.1);
}

/*FORM AND INPUTS*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    margin: 1em;
}

input {
    width: 80%;
    padding: 2em 2em;
    margin: 1em;
    border: 0px;
    border-radius: 25px;
    box-sizing: border-box;
    transition: 0.5s;
    outline: none;
}

input:focus {
    background-color: #bbd0e7;
}

input[type=submit] {
    width: 50%;
    background-color: white;
    color: #012348;
    padding: 1em 1em;
    margin: 1em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input[type=submit]:hover {
    background-color: #bbd0e7;
}

/*FOOTER AND LINKS*/
footer {
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: skewY(-2deg);
}

.footer-div {
    width: 100%;
}

.footerclass {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    transform: skewY(2deg);
}

.footerclass h2 {
    margin-bottom: 0.5em;
    color: #012348;
}

.footerclass :where(a, p) {
    color: rgba(1, 35, 75, 0.7);
}