input {
    width: 80%;
    padding: 2em 2em;
    margin: 1em;
    border: 0px;
    border-radius: 25px;
    box-sizing: border-box;
    transition: 0.5s;
}

input:active {
    border: 1em #45a049;
}

input[type=submit] {
    width: 50%;
    background-color: white;
    color: #75c41c;
    padding: 2em 2em;
    margin: 1em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input[type=submit]:hover {
    background-color: #45a049;
}